.nav-bar{
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 999;
   
}
.nav-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items:center ;
    justify-content: center;

}
.nav-item{
    list-style: none;
    padding: .8rem;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}
.nav-item:hover{
    background-color: var(--primary-color);
    color: #ffff;
}
.nav-item a{
    text-decoration: none;
    color: #ffff;
}
.nav-item a:hover{
    color: #ffff;
}
 .active{
    background-color: var(--primary-color);
    color: #ffff; 
    /* padding: .8rem; */
} 