.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 5rem;
}
.logo{
    font-size: 3rem;
    color: var(--secondary-color);
}
.search-bar{
    width: 250px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    line-height: 2.2rem;
}
.search-icon{
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 .5rem;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}